::selection{
    background-color: #0000003c;
}

.react-pdf__Page__canvas{
display: flex;
justify-content: center;
}
.react-pdf__Page{
    display: flex;
    justify-content: center;
    width: max-content;
}
.react-pdf__Page__textContent textLayer{
    display: flex;
    justify-content: center;
    width: max-content;
}
.ada{
    transition: 0.2s ease;
}
.btn.text-capitalize.my-1.fd{
    background-image: linear-gradient(to right, #ffd35a, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    -webkit-animation: Anime 5s ease-in-out infinite;
    -moz-animation: Anime 5s ease-in-out infinite;
    animation: Anime 5s ease-in-out infinite;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align:center;
    font-weight: bold;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
@-webkit-keyframes Anime {
    0%{box-shadow: 0 4px 15px 0 rgb(255, 115, 0);}
    30%{box-shadow: 0 4px 15px 0 rgb(255, 179, 0);}
    75%{box-shadow: 0 4px 15px 0 rgb(255, 136, 136);}
    100%{box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.75);}
}
@-moz-keyframes Anime {
    0%{box-shadow: 0 4px 15px 0 rgb(255, 115, 0);}
    30%{box-shadow: 0 4px 15px 0 rgb(255, 179, 0);}
    75%{box-shadow: 0 4px 15px 0 rgb(255, 136, 136);}
    100%{box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.75);}
}
@keyframes Anime {
    0%{box-shadow: 0 4px 15px 0 rgb(255, 115, 0);}
    30%{box-shadow: 0 4px 15px 0 rgb(255, 179, 0);}
    75%{box-shadow: 0 4px 15px 0 rgb(255, 136, 136);}
    100%{box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.75);}
}
    
.btn.text-capitalize.my-1.fd:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgb(252, 255, 84);
}
.btn.text-capitalize.my-1.fd:focus{
    outline: none;
}

@media only screen and (min-width: 600px) {
    .ada{
        display: flex;
        justify-content: center;
    }
    .icon{
        display: none;
    }
  }
@media only screen and (max-width: 600px) {
    .jak{
        display: none;
        font-size: 0;
    }
    Table{
        width:95%
    }
  }