::selection {
  background-color: #0000003c;
}

.react-pdf__Page__canvas {
  display: flex;
  justify-content: center;
}
.react-pdf__Page {
  display: flex;
  justify-content: center;
  width: max-content;
}
.react-pdf__Page__textContent textLayer {
  display: flex;
  justify-content: center;
  width: max-content;
}
.ada {
  transition: 0.2s ease;
}
.btn.text-capitalize.my-1.fd {
    
  text-decoration: none;
  position:  relative;
 border: none;
 font-family: inherit;
 color: #fff;
 
 background: linear-gradient(90deg,#03a9f4,#ff53b5,#ffeb3b,#03a9f4);
 background-size: 300%;
 border-radius: 15px;
 transition: 0.5s cubic-bezier(0.39, 0.14, 0.57);
 z-index: 1;
}
.btn.text-capitalize.my-1.fd:hover{
  animation: ani 8s linear infinite;
  border: none;
  font-weight: bold;
}
.btn.text-capitalize.my-1.fd:focus{
    outline: none;
}



@keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 .btn.text-capitalize.my-1.fd:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#ff0090,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 7px;
  transition: 1s;
  font-weight: lighter;
 }
 
 .btn.text-capitalize.my-1.fd:hover::before {
  filter: blur(20px);
 }
 
 .btn.text-capitalize.my-1.fd:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }

@media only screen and (min-width: 600px) {
  .ada {
    display: flex;
    justify-content: center;
  }
  .icon {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .jak {
    display: none;
    font-size: 0;
  }
  Table {
    width: 95%;
  }
}

.navbar-custom-light {
    background: rgb(228, 228, 228);
background: linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgb(238, 238, 238) 100%);
box-shadow: 0px 7px 20px 8px #b7b7b759;
}
.navbar-custom-dark {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.66) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 4px 25px 8px #ffffff16;
  }
.dropdown-menu.show.dropdown-menu-light {
  background-color: #f3f3f3;
  border: none;
}
.dropdown-menu.show.dropdown-menu-dark {
  background-color: #0c0c0c;
  border: none;
}






.btn.bg-light{
  color: #052d00;
  border-color: #9fff92;
}

.btn.bg-dark{
    border-color: #052d00;
    color: #9fff92;
}
